@import "tailwindcss";

@theme {
  /* Background Colors */

  --color-primary-bg: #ffffff;
  --color-secondary-bg: #f4f3f0;
  --color-inverse: #111111;
  --color-accent: #d9b77a;

  /* ------------------------------- */

  /* Text Colors */

  --color-primary-tx: #1a1a1a;
  --color-secondary-tx: #55534f;
  --color-muted: #9b9a94;

  /* --------------------------------- */

  /* Sections Padding & Margin */

  --spacing-sectionPadding: 50px;
  --spacing-sectionPadding-mob: 30px;
  --spacing-sectionMargine: 50px;
  --spacing-sectionMargine-mob: 30px;
}

@layer base {
  .container {
    @apply px-4 mx-auto max-w-[540px] sm:max-w-[720px] md:max-w-[960px] lg:max-w-[1140px] xl:max-w-[1320px];
  }
  html {
    scroll-behavior: smooth;
  }

  button {
    cursor: pointer;
  }
}
